                    body {
                        background-color: white;
                        margin: 0;
                        padding: 0;
                    }
                    
                    h1 {
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        font-size: 60px;
                        margin: 0;
                    }
                    
                    h2 {
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        font-size: 30px;
                        margin: 0;
                    }
                    
                    h3 {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 30px;
                    }
                    
                    h4 {
                        font-size: 30px;
                    }
                    /* 
                        .photo {
                        width: 200px;
                        height: 180px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: rgb(5, 82, 44);
                        border-image: initial;
                        border-radius: 50%;
                    } */
                    
                    a {
                        background-color: green;
                        color: white;
                        text-decoration: none;
                        padding: 20px;
                        border-radius: 10px;
                    }
                    
                    #apresentacao {
                        width: 100%;
                        height: auto;
                        padding-top: 100px;
                        padding-bottom: 100px;
                        background: url(../imagem/UAxa8.gif);
                        background-size: cover;
                        text-align: center;
                    }
                    
                    #habilidades {
                        display: flex;
                        color: white;
                        text-align: center;
                    }
                    
                    #frontend {
                        background-color: #151515;
                        width: 50%;
                        padding-bottom: 50px;
                    }
                    
                    #backend {
                        background-color: #111111;
                        width: 50%;
                        padding-bottom: 50px;
                    }
                    
                    #contato {
                        height: 300px;
                        background: white;
                        text-align: center;
                        padding-top: 100px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: 0;
                    }
                    
                    @media(max-width: 600px) {
                        #habilidades {
                            flex-direction: column;
                        }
                        #frontend {
                            width: 100%;
                        }
                        #backend {
                            width: 100%;
                        }
                    }
                    /* Este código é uma cópia fiel da aula disponibilizada pelo Responde Ai */
                    /*<!--Antes era. Agora quase nem mais sou. -->*/
                    /*<!--Evoluir sempre! Este é o objetivo. -->*/
                    /* Na luta tentando evoluir diariamente */
                    /* Continuando nas preces de cada dia */
                    /* Retomar em 15-02-21  11-02-2021*/
                    /* Retomar em 15-02-21  14-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  16-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  17-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  18-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  19-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  19-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  19-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  19-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  22-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  25-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  26-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  27-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  28-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  01-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  02-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  03-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  04-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  03-03-2021*/