                    body {
                        background-color: white;
                        margin: 0;
                        padding: 0;
                    }
                    
                    h1 {
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        font-size: 60px;
                        margin: 0;
                    }
                    
                    h2 {
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        font-size: 30px;
                        margin: 0;
                    }
                    
                    h3 {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 30px;
                    }
                    
                    h4 {
                        font-size: 30px;
                    }
                    /* 
                        .photo {
                        width: 200px;
                        height: 180px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: rgb(5, 82, 44);
                        border-image: initial;
                        border-radius: 50%;
                    } */
                    
                    a {
                        background-color: green;
                        color: white;
                        text-decoration: none;
                        padding: 20px;
                        border-radius: 10px;
                    }
                    
                    #apresentacao {
                        width: 100%;
                        height: auto;
                        padding-top: 100px;
                        padding-bottom: 100px;
                        background: url(../imagem/UAxa8.gif);
                        background-size: cover;
                        text-align: center;
                    }
                    
                    #habilidades {
                        display: flex;
                        color: white;
                        text-align: center;
                    }
                    
                    #frontend {
                        background-color: #151515;
                        width: 50%;
                        padding-bottom: 50px;
                    }
                    
                    #backend {
                        background-color: #111111;
                        width: 50%;
                        padding-bottom: 50px;
                    }
                    
                    #contato {
                        height: 300px;
                        background: white;
                        text-align: center;
                        padding-top: 100px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: 0;
                    }
                    
                    @media(max-width: 600px) {
                        #habilidades {
                            flex-direction: column;
                        }
                        #frontend {
                            width: 100%;
                        }
                        #backend {
                            width: 100%;
                        }
                    }
                    /* Este código é uma cópia fiel da aula disponibilizada pelo Responde Ai */
                    /*<!--Antes era. Agora quase nem mais sou. -->*/
                    /*<!--Evoluir sempre! Este é o objetivo. -->*/
                    /* Na luta tentando evoluir diariamente */
                    /* Continuando nas preces de cada dia */
                    /* Retomar em 15-02-21  11-02-2021*/
                    /* Retomar em 15-02-21  14-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  16-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  17-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  18-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  19-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  19-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  19-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  19-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  22-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  25-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  26-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  27-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  28-02-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  01-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  02-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  03-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  04-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  05-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  06-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  08-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  09-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  10-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  11-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  12-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  13-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  14-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  15-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  16-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  17-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  18-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  20-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  22-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  23-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  24-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  25-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  26-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  29-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  30-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  31-03-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  01-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  03-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  04-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  05-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  06-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  07-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  08-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  15-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  16-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  20-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  26-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  28-04-2021*/
                    /* Retomar em 15-02-21 \ nao funcionou  29-04-2021*/
                    /* Retomado  29-04-2021*/
                    /* Revendo  30-04-2021*/
                    /* Revendo  03-05-2021*/
                    /* Revendo  04-05-2021*/
                    /* Revendo  06-05-2021*/
                    /* Revendo  07-05-2021*/
                    /* Revendo  11-05-2021*/
                    /* Revendo  12-05-2021*/
                    /* Revendo  13-05-2021*/
                    /* Revendo  14-05-2021*/
                    /* Revendo  15-05-2021*/
                    /* Revendo  15-05-2021*/
                    /* Revendo  17-05-2021*/
                    /* Revendo  18-05-2021*/
                    /* Revendo  19-05-2021*/
                    /* Revendo  20-05-2021*/
                    /* Revendo  22-05-2021*/
                    /* Revendo  24-05-2021*/
                    /* Revendo  25-05-2021*/
                    /* Revendo  27-05-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  29-05-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  31-05-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  01-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  07-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  08-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  10-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  11-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  14-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  15-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  17-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  19-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  21-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  23-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  24-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  25-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  28-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  29-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  30-06-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  01-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  03-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  12-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  16-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  19-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  22-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  23-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  27-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  29-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  30-07-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  02-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  09-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  10-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  11-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  12-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  13-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  16-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  18-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  19-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  19-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  23-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  24-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  25-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  26-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  27-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  30-08-2021 / Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  31-08-2021 / * Filosofo Clínico * Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  01-09-2021 / * Filosofo Clínico * Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  02-09-2021 / * Filosofo Clínico * Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  03-09-2021 / * Filosofo Clínico * Ainda não retornamos aqui desde 15/02/21 */
                    /* Revendo  08-09-2021 / * Filosofo Clínico * Ainda não retornamos aqui desde 15/02/21 */
/* Revendo  09-09-2021 / * Filosofo Clínico * Ainda não retornamos aqui desde 15/02/21 */
/* Revendo  10-09-2021 / * Filosofo Clínico * Ainda não retornamos aqui desde 15/02/21 */
/* Revendo  13-09-2021 / * Filosofo Clínico * Ainda não retornamos aqui desde 15/02/21 */

